#home {
    padding: 20px;
    margin: 150px 20px 0px 20px;
}

#home h1 {
    font-size: 3rem;
}

#home p {
    margin: 30px 0px 100px 0px;
    max-width: 50%;
}

#home button {
    min-width: 20%;
    padding: 15px 5px 15px 5px;
}

