#jobs {
    margin: 300px 40px 0px 40px;
    text-align: center;
}

#jobs h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
}

.jobList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

.jobElements {
    width: 100px;
    padding: 50px;
    margin: 20px;
    border: 0.5px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.jobElements:hover {
    color: #63bce9;
    box-shadow: 0px 0px 10px 0px rgb(174, 174, 174);
    background-color: white;
    transition: color 1s, box-shadow 0.5s, background-color 0.5s;
}

.jobElements h3 {
    margin: 20px 0px 20px 0px;
}

.icon {
    size: 100px;
}

#categoriesBtn{
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    background-color: whitesmoke;
    border: 1px solid #63bce9;
    border-radius: 5px;
    color: #63bce9;
}

#categoriesBtn:hover{
    background-color: #63bce9;
    color: white;
    transition: background-color 0.5s linear, color 0.5s;
}